# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
*.swp

# IntelliJ / Android Studio
*.iml
*.iws
.idea/

# Gradle
.gradle/
build/
local.properties

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
pubspec.lock
bfg.jar
.env
backend/.env

# Node.js
node_modules/
backend/node_modules/
npm-debug.log
yarn-error.log

# Android Keystore/Properties
*.jks
*.keystore
android/key.properties
android/app/key.properties

# iOS
ios/.symlinks/
ios/Pods/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/app.flx
ios/Flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# VS Code
.vscode/